@model TimberV2.Models.Order

@{
    ViewBag.Title = "Delete";

}

<h2>Delete</h2>

<h3>Are you sure you want to delete this orders?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TkAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TkAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserEmail)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
