@model IEnumerable<TimberV2.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Navbar.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryDesc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.CategoryID != 1)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryDesc)
            </td>
            <td>
                <a href="#" class="btn btn-primary" onclick="edit(@item.CategoryID)">Edit</a>
                <a href="#" class="btn btn-dark" onclick="details(@item.CategoryID)">Details</a>
                <a href="#" class="btn btn-danger" onclick="deleted(@item.CategoryID)">Delete</a>
            </td>
        </tr>
        }
    }
</table>
<a href="#" class="btn btn-primary" onclick="create(@int.MaxValue)">Create</a>
<div class="modal fade" id="myModal">
    <div class="modal-dialog" style="border:5px solid green;">
        <div class="modal-content">

            <div class="modal-body" id="myModalBodyDiv">


            </div>


        </div>

    </div>

</div>
<script>



    var create = function (intMAX) {

        $.ajax({

            type: "GET",
            url: "/Categories/Create",
            data: { id: intMAX },
            success: function (response) {

                $("#myModalBodyDiv").html(response);

                $("#myModal").modal("show");


            }

        })

    }
    var edit = function (editID) {

        $.ajax({

            type: "GET",
            url: "/Categories/Edit",
            data: { id: editID },
            success: function (response) {

                $("#myModalBodyDiv").html(response);

                $("#myModal").modal("show");


            }

        })
    }
    var details = function (detailsID) {
        $.ajax({

            type: "GET",
            url: "/Categories/Details",
            data: { id: detailsID },
            success: function (response) {

                $("#myModalBodyDiv").html(response);

                $("#myModal").modal("show");


            }

        })

    }

    var deleted = function (delID) {

        $.ajax({

            type: "GET",
            url: "/Categories/Delete",
            data: { id: delID },
            success: function (response) {

                $("#myModalBodyDiv").html(response);

                $("#myModal").modal("show");


            }

        })


    }

</script>


