@model TimberV2.Models.DraftCart

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DraftCart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cart_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cart_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserEmail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CartID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
